.font-title {
    -fx-font-family: "Retro Osar";
    -fx-font-size: 100px;
    -fx-font-weight: bold;
}

.font-header {
    -fx-font-family: "Retro Osar";
    -fx-font-size: 60px;
    -fx-font-weight: bold;
}

.font-body {
    -fx-font-family: "Retro Osar";
    -fx-font-size: 24px;
}

.font-micro {
    -fx-font-family: "Retro Osar";
    -fx-font-size: 16px;
}