@import 'base-view.css';

.center-v-box {
    -fx-alignment: top-center;
    -fx-padding: 20 0 0 0;
    -fx-spacing: 20;
}

.library-row {
    -fx-alignment: center;
    -fx-spacing: 20;
}

.row-label {
    -fx-text-fill: -secondary-color;
}

.library-row-item {
    -fx-alignment: center;
    -fx-spacing: 10;
}

.cover-button {
    -fx-background-radius: 20;
    -fx-min-width: 300;
    -fx-min-height: 300;
    -fx-max-width: 300;
    -fx-max-height: 300;
}

.easy {
    -fx-background-color: -easy-color;
}

.medium {
    -fx-background-color: -medium-color;
}

.hard {
    -fx-background-color: -hard-color;
}

.cover-image-view {
    -fx-background-radius: 40;
    -fx-pref-width: 80;
    -fx-pref-height: 80;
}

.song-label {
    -fx-text-fill: -secondary-color;
    -fx-alignment: center;
}

.artist-label {
    -fx-text-fill: -primary-color;
    -fx-alignment: center;
}
