@import 'base-view.css';

.background {
    -fx-alignment: center;
    -fx-spacing: 70;
}

.buttons-stack-h-box {
    -fx-alignment: center;
    -fx-spacing: 50;
}

.option-button {
    -fx-max-width: 200;
    -fx-max-height: 200;
    -fx-min-width: 200;
    -fx-min-height: 200;
}
