@import 'base-view.css';

.center-v-box {
    -fx-alignment: top-center;
    -fx-spacing: 80;
    -fx-padding: 150 0 0 0;
}

.h-box {
    -fx-alignment: center;
}

.text-button {
    -fx-label-padding: 20;
}

.or-label {
    -fx-label-padding: 40;
}

.error-label {
    -fx-text-alignment: center;
}
